# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs & dist
dist/
build/
.expo/
web-build/
*.apk
*.aab

# Environment & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
hirelens-mobile/credentials.json
hirelens-mobile/credentials/
*.jks
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
